<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вернуться наверх</font></font></a>
            </p>
            <p class="mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пример WEB приложения - Spring Boot. Специально для ARTEZIO!</font></font></p>

        </div>
    </footer>
</div>