<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <font style="vertical-align: inherit;">Пример моей работы для ARTEZIO</font>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Главная</font></font></a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/add"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добавить комнату</font></font></a>


        </nav>
    </div>
</div>